# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment secrets (ВАЖНО! Не заливаем в GitHub)
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# Uploads
app/static/uploads/

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
